/* Colors
--------------------------------------------- */



/* IE Conditional
--------------------------------------------- */

// Responsive switches (overridden in ie.styl)
fix-mqs ?= false
old-ie ?= false


/* Media Query Variables
--------------------------------------------- */

tablet = 800px
desktop = 1000px
wide-desktop = 1400px